In [2]:
import pandas as pd 
import numpy as np 
import psycopg2

In [3]:
conn = psycopg2.connect(
    dbname="prueba_sephora",
    user = "postgres",
    password = "admin",
    host = "localhost",
    port = "5432")

In [4]:
cur = conn.cursor()

In [39]:
df_principal = pd.read_csv('productos_maquillaje.csv')
pd.set_option('display.max_columns', None)
df_principal

,categoria,subcategoria,marca,nombre,descripcion,precio,numero_valoraciones,valoracion,num_variaciones,fecha_extraccion,formato,responsabilidad,efecto_sombra,efecto_labios,efecto_mascara,tipo_brocha,formulacion,tipo_piel,cobertura,acabado,textura
0,Ojos,Sombras de ojos,Rem Beauty,Starlet,Sombra de ojos líquida,23.0,1,2.0,12,2025-04-15,NaN,NaN,"Mate, Irisado/Nacarado, Brillante",NaN,NaN,NaN,NaN,Todo tipo de pieles,NaN,NaN,Liquido
1,Rostro,Polvos bronceadores,Dior,Dior Forever Nude Bronze,Polvos bronceadores acabado radiante edición l...,65.0,0,0.0,2,2025-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Todo tipo de pieles,Ligera,Natural,NaN
2,Labios,Voluminizador labios,Dior Backstage,Dior Lip Glow Oil,Aceite para labios brillante nutritivo realzad...,48.0,434,4.2,3,2025-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Todo tipo de pieles,NaN,NaN,Aceite
3,Ojos,Paleta de sombras de ojos,Dior,Diorshow 5 Couleurs edición limitada,sombras de ojos de colores intensos,75.0,0,0.0,2,2025-04-15,NaN,NaN,Irisado/Nacarado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Uñas,Esmalte de uñas,Dior,Dior Vernis,Laca de uñas efecto gel color couture,37.0,0,0.0,2,2025-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Todo tipo de pieles,NaN,Purpurina,NaN

In [40]:
df_principal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   categoria            5 non-null      object
 1   subcategoria         5 non-null      object
 2   marca                5 non-null      object
 3   nombre               5 non-null      object
 4   descripcion          5 non-null      object
 5   precio               5 non-null      float64
 6   numero_valoraciones  5 non-null      int64
 7   valoracion           5 non-null      float64
 8   num_variaciones      5 non-null      int64
 9   fecha_extraccion     5 non-null      object
 10  formato              0 non-null      float64
 11  responsabilidad      0 non-null      float64
 12  efecto_sombra        2 non-null      object
 13  efecto_labios        0 non-null      float64
 14  efecto_mascara       0 non-null      float64
 15  tipo_brocha          0 non-null      float64
 16  formulacion          0 non-null      float64
 17  tipo_piel            4 non-null      object
 18  cobertura            1 non-null      object
 19  acabado              2 non-null      object
 20  textura              2 non-null      object
dtypes: float64(8), int64(2), object(11)
memory usage: 972.0+ bytes

In [ ]:
tabla_marcas = pd.DataFrame(df_principal["marca"].unique(), columns=["nombre_marca"])
tabla_marcas

data_to_insert = [[row["nombre_marca"]] for indice, row in tabla_marcas.iterrows()]

insert_query = """
        INSERT INTO marcas (nombre_marca)
        VALUES (%s)
"""

cur.executemany(insert_query, data_to_insert)
conn.commit()

     nombre_marca
0      Rem Beauty
1            Dior
2  Dior Backstage

In [ ]:
tabla_categorias = pd.DataFrame(df_principal["categoria"].unique(), columns=["nombre_categoria"])
data_to_insert = [[row["nombre_categoria"]] for indice, row in tabla_categorias.iterrows()]
insert_query = """
        INSERT INTO categorias (nombre_categoria)
        VALUES (%s)
"""
cur.executemany(insert_query, data_to_insert)
conn.commit()

In [ ]:
tabla_subcategorias = pd.DataFrame(df_principal["subcategoria"].unique(), columns=["nombre_subcategoria"])
data_to_insert = [[row["nombre_subcategoria"]] for indice, row in tabla_subcategorias.iterrows()]
insert_query = """
        INSERT INTO subcategorias (nombre_subcategoria)
        VALUES (%s)
"""
cur.executemany(insert_query, data_to_insert)
conn.commit()

In [13]:
cur.execute("SELECT nombre_marca, id_marca FROM marcas")
marcas_dict = dict(cur.fetchall()) 
marcas_dict

{'Rem Beauty': 1, 'Dior': 2, 'Dior Backstage': 3}

In [14]:
cur.execute("SELECT nombre_categoria, id_categoria FROM categorias")
categorias_dict = dict(cur.fetchall()) 
categorias_dict

{'Ojos': 1, 'Rostro': 2, 'Labios': 3, 'Uñas': 4}

In [15]:
cur.execute("SELECT nombre_subcategoria, id_subcategoria FROM subcategorias")
subcategorias_dict = dict(cur.fetchall()) 
subcategorias_dict

{'Sombras de ojos': 1,
 'Polvos bronceadores': 2,
 'Voluminizador labios': 3,
 'Paleta de sombras de ojos': 4,
 'Esmalte de uñas': 5}

In [ ]:
data_to_insert = []
df_productos = df_principal[["nombre", "descripcion", "marca", "categoria", "subcategoria"]]
for _, row in df_productos.iterrows(): 
    nombre = row["nombre"]
    descripcion = row["descripcion"]
    id_marca = marcas_dict.get(row["marca"]) if row["marca"] in marcas_dict else None
    id_categoria = categorias_dict.get(row["categoria"]) if row["categoria"] in categorias_dict else None
    id_subcategoria = subcategorias_dict.get(row["subcategoria"]) if row["subcategoria"] in subcategorias_dict else None
    data_to_insert.append([nombre, descripcion, id_marca, id_categoria, id_subcategoria]) 

tabla_productos = pd.DataFrame(data_to_insert, columns=["nombre", "descripcion", "id_marca", "id_categoria", "id_subcategoria"])
tabla_productos

,nombre,descripcion,id_marca,id_categoria,id_subcategoria
0,Starlet,Sombra de ojos líquida,1,1,1
1,Dior Forever Nude Bronze,Polvos bronceadores acabado radiante edición l...,2,2,2
2,Dior Lip Glow Oil,Aceite para labios brillante nutritivo realzad...,3,3,3
3,Diorshow 5 Couleurs edición limitada,sombras de ojos de colores intensos,2,1,4
4,Dior Vernis,Laca de uñas efecto gel color couture,2,4,5

In [27]:
insert_query = """
        INSERT INTO productos (nombre, descripcion, id_marca, id_categoria, id_subcategoria)
        VALUES (%s, %s, %s, %s, %s)
"""

cur.executemany(insert_query, data_to_insert)
conn.commit()

In [28]:
cur.execute("SELECT nombre, id_producto FROM productos")
productos_dict = dict(cur.fetchall()) 
productos_dict

{'Starlet': 1,
 'Dior Forever Nude Bronze': 2,
 'Dior Lip Glow Oil': 3,
 'Diorshow 5 Couleurs edición limitada': 4,
 'Dior Vernis': 5}

In [30]:
data_to_insert = []
df_historico = df_principal[["nombre", "fecha_extraccion", "precio", "numero_valoraciones", "valoracion", "num_variaciones"]]
for _, row in df_historico.iterrows(): 
    id_producto = productos_dict.get(row["nombre"]) if row["nombre"] in productos_dict else None
    fecha_extraccion = row["fecha_extraccion"]
    precio = row["precio"]
    numero_valoraciones = row["numero_valoraciones"]
    valoracion = row["valoracion"]
    numero_variaciones = row["num_variaciones"]
    data_to_insert.append([id_producto, fecha_extraccion, precio, numero_valoraciones, valoracion, numero_variaciones]) 

tabla_historico = pd.DataFrame(data_to_insert, columns=["id_producto", "fecha_extraccion", "precio", "numero_valoraciones", "valoracion", "numero_variaciones"])
tabla_historico

,id_producto,fecha_extraccion,precio,numero_valoraciones,valoracion,numero_variaciones
0,1,2025-04-15,23.0,1,2.0,12
1,2,2025-04-15,65.0,0,0.0,2
2,3,2025-04-15,48.0,434,4.2,3
3,4,2025-04-15,75.0,0,0.0,2
4,5,2025-04-15,37.0,0,0.0,2

In [31]:
insert_query = """
        INSERT INTO historico (id_producto, fecha_extraccion, precio, numero_valoraciones, valoracion, numero_variaciones)
        VALUES (%s, %s, %s, %s, %s, %s)
"""

cur.executemany(insert_query, data_to_insert)
conn.commit()

TABLAS FILTROS

In [33]:
df_efectos_sombra = df_principal["efecto_sombra"].dropna()
efectos_sombra_list = df_efectos_sombra.apply(lambda x: [ef.strip() for ef in x.split(",")])
efectos_sombra_unicos = set([efecto for sublist in efectos_sombra_list for efecto in sublist])

tabla_efectos_sombra = pd.DataFrame(efectos_sombra_unicos, columns=["nombre_efecto"])

data_to_insert = [[row["nombre_efecto"]] for _, row in tabla_efectos_sombra.iterrows()]

tabla_efectos_sombra

      nombre_efecto
0         Brillante
1  Irisado/Nacarado
2              Mate

In [34]:
insert_query = """
    INSERT INTO efectos_sombra (nombre_efecto)
    VALUES (%s)
"""

cur.executemany(insert_query, data_to_insert)
conn.commit()

In [37]:
cur.execute("SELECT nombre_efecto, id_efecto_sombra FROM efectos_sombra")
efectos_sombra_dict = dict(cur.fetchall()) 
efectos_sombra_dict

{'Brillante': 1, 'Irisado/Nacarado': 2, 'Mate': 3}

In [38]:
data_to_insert = []
for _, row in df_principal.iterrows():
    if pd.isna(row["efecto_sombra"]):
        continue

    id_producto = productos_dict.get(row["nombre"])

    efectos_sombra = [ef.strip() for ef in row["efecto_sombra"].split(",")]
    
    for efecto in efectos_sombra:
        id_efecto_sombra = efectos_sombra_dict.get(efecto)
        if id_producto and id_efecto_sombra:
            data_to_insert.append((id_producto, id_efecto_sombra))

insert_query = """
    INSERT INTO producto_efecto_sombra (id_producto, id_efecto_sombra)
    VALUES (%s, %s)
"""  

cur.executemany(insert_query, data_to_insert)
conn.commit()

In [35]:
df_texturas = df_principal["textura"].dropna()
texturas_list = df_texturas.apply(lambda x: [tx.strip() for tx in x.split(",")])
texturas_unicos = set([textura for sublist in texturas_list for textura in sublist])

tabla_texturas = pd.DataFrame(texturas_unicos, columns=["nombre_textura"])

data_to_insert = [[row["nombre_textura"]] for _, row in tabla_texturas.iterrows()]

tabla_texturas

  nombre_textura
0        Liquido
1         Aceite

In [36]:
insert_query = """
    INSERT INTO texturas (nombre_textura)
    VALUES (%s)
"""

cur.executemany(insert_query, data_to_insert)
conn.commit()

In [41]:
cur.execute("SELECT nombre_textura, id_textura FROM texturas")
texturas_dict = dict(cur.fetchall()) 
texturas_dict

{'Liquido': 1, 'Aceite': 2}

In [42]:
data_to_insert = []
for _, row in df_principal.iterrows():
    if pd.isna(row["textura"]):
        continue

    id_producto = productos_dict.get(row["nombre"])

    texturas = [tx.strip() for tx in row["textura"].split(",")]
    
    for textura in texturas:
        id_textura = texturas_dict.get(textura)
        if id_producto and id_textura:
            data_to_insert.append((id_producto, id_textura))

insert_query = """
    INSERT INTO producto_textura (id_producto, id_textura)
    VALUES (%s, %s)
"""  

cur.executemany(insert_query, data_to_insert)
conn.commit()

In [ ]:
import pandas as pd
import psycopg2

def conex_bd_creacion_cursor(nombre_db, usuario, contraseña, servidor, puerto):
    conn = psycopg2.connect(
        dbname=nombre_db,
        user=usuario,
        password=contraseña,
        host=servidor,
        port=puerto)
    cur = conn.cursor()
    return conn, cur

def insercion_db(conn, cur, insert_query, data_to_insert):
    cur.executemany(insert_query, data_to_insert)
    conn.commit()

def creacion_tabla_marcas(conn, cur, dataframe):
    tabla_marcas = pd.DataFrame(dataframe["marca"].unique(), columns=["nombre_marca"])
    data_to_insert = [[row["nombre_marca"]] for _, row in tabla_marcas.iterrows()]
    insert_query = """
        INSERT INTO marcas (nombre_marca)
        VALUES (%s)
    """
    insercion_db(conn, cur, insert_query, data_to_insert)

def creacion_tabla_categorias(conn, cur, dataframe):
    tabla_categorias = pd.DataFrame(dataframe["categoria"].unique(), columns=["nombre_categoria"])
    data_to_insert = [[row["nombre_categoria"]] for _, row in tabla_categorias.iterrows()]
    insert_query = """
        INSERT INTO categorias (nombre_categoria)
        VALUES (%s)
    """
    insercion_db(conn, cur, insert_query, data_to_insert)

def creacion_tabla_subcategorias(conn, cur, dataframe):
    tabla_subcategorias = pd.DataFrame(dataframe["subcategoria"].unique(), columns=["nombre_subcategoria"])
    data_to_insert = [[row["nombre_subcategoria"]] for _, row in tabla_subcategorias.iterrows()]
    insert_query = """
        INSERT INTO subcategorias (nombre_subcategoria)
        VALUES (%s)
    """
    insercion_db(conn, cur, insert_query, data_to_insert)

def obtener_dict(conn, cur, table_name, column_name, id_column):
    cur.execute(f"SELECT {column_name}, {id_column} FROM {table_name}")
    return dict(cur.fetchall())

def creacion_tabla_productos(conn, cur, dataframe, marcas_dict, categorias_dict, subcategorias_dict):
    data_to_insert = []
    df_productos = dataframe[["nombre", "descripcion", "marca", "categoria", "subcategoria"]]
    for _, row in df_productos.iterrows():
        nombre = row["nombre"]
        descripcion = row["descripcion"]
        id_marca = marcas_dict.get(row["marca"])
        id_categoria = categorias_dict.get(row["categoria"])
        id_subcategoria = subcategorias_dict.get(row["subcategoria"])
        data_to_insert.append([nombre, descripcion, id_marca, id_categoria, id_subcategoria])

    insert_query = """
        INSERT INTO productos (nombre, descripcion, id_marca, id_categoria, id_subcategoria)
        VALUES (%s, %s, %s, %s, %s)
    """
    insercion_db(conn, cur, insert_query, data_to_insert)

def creacion_tabla_historico(conn, cur, dataframe, productos_dict):
    data_to_insert = []
    df_historico = dataframe[["nombre", "fecha_extraccion", "precio", "numero_valoraciones", "valoracion", "num_variaciones"]]
    for _, row in df_historico.iterrows():
        id_producto = productos_dict.get(row["nombre"])
        fecha_extraccion = row["fecha_extraccion"]
        precio = row["precio"]
        numero_valoraciones = row["numero_valoraciones"]
        valoracion = row["valoracion"]
        numero_variaciones = row["num_variaciones"]
        data_to_insert.append([id_producto, fecha_extraccion, precio, numero_valoraciones, valoracion, numero_variaciones])

    insert_query = """
        INSERT INTO historico (id_producto, fecha_extraccion, precio, numero_valoraciones, valoracion, numero_variaciones)
        VALUES (%s, %s, %s, %s, %s, %s)
    """
    insercion_db(conn, cur, insert_query, data_to_insert)

def creacion_tabla_efectos_sombra(conn, cur, dataframe):
    df_efectos_sombra = dataframe["efecto_sombra"].dropna()
    efectos_sombra_list = df_efectos_sombra.apply(lambda x: [ef.strip() for ef in x.split(",")])
    efectos_sombra_unicos = set([efecto for sublist in efectos_sombra_list for efecto in sublist])

    tabla_efectos_sombra = pd.DataFrame(efectos_sombra_unicos, columns=["nombre_efecto"])
    data_to_insert = [[row["nombre_efecto"]] for _, row in tabla_efectos_sombra.iterrows()]
    insert_query = """
        INSERT INTO efectos_sombra (nombre_efecto)
        VALUES (%s)
    """
    insercion_db(conn, cur, insert_query, data_to_insert)

def creacion_tabla_texturas(conn, cur, dataframe):
    df_texturas = dataframe["textura"].dropna()
    texturas_list = df_texturas.apply(lambda x: [tx.strip() for tx in x.split(",")])
    texturas_unicos = set([textura for sublist in texturas_list for textura in sublist])

    tabla_texturas = pd.DataFrame(texturas_unicos, columns=["nombre_textura"])
    data_to_insert = [[row["nombre_textura"]] for _, row in tabla_texturas.iterrows()]
    insert_query = """
        INSERT INTO texturas (nombre_textura)
        VALUES (%s)
    """
    insercion_db(conn, cur, insert_query, data_to_insert)

def creacion_tabla_producto_efecto_sombra(conn, cur, dataframe, productos_dict, efectos_sombra_dict):
    data_to_insert = []
    for _, row in dataframe.iterrows():
        if pd.isna(row["efecto_sombra"]):
            continue

        id_producto = productos_dict.get(row["nombre"])
        efectos_sombra = [ef.strip() for ef in row["efecto_sombra"].split(",")]

        for efecto in efectos_sombra:
            id_efecto_sombra = efectos_sombra_dict.get(efecto)
            if id_producto and id_efecto_sombra:
                data_to_insert.append((id_producto, id_efecto_sombra))

    insert_query = """
        INSERT INTO producto_efecto_sombra (id_producto, id_efecto_sombra)
        VALUES (%s, %s)
    """
    insercion_db(conn, cur, insert_query, data_to_insert)

def creacion_tabla_producto_textura(conn, cur, dataframe, productos_dict, texturas_dict):
    data_to_insert = []
    for _, row in dataframe.iterrows():
        if pd.isna(row["textura"]):
            continue

        id_producto = productos_dict.get(row["nombre"])
        texturas = [tx.strip() for tx in row["textura"].split(",")]

        for textura in texturas:
            id_textura = texturas_dict.get(textura)
            if id_producto and id_textura:
                data_to_insert.append((id_producto, id_textura))

    insert_query = """
        INSERT INTO producto_textura (id_producto, id_textura)
        VALUES (%s, %s)
    """
    insercion_db(conn, cur, insert_query, data_to_insert)

def crear_tablas(nombre_db, usuario, contraseña, servidor, puerto, df_principal):
    try:
        # establece conexion y crea cursor
        conn, cur = conex_bd_creacion_cursor(nombre_db, usuario, contraseña, servidor, puerto)

        # crea las tablas
        creacion_tabla_marcas(conn, cur, df_principal)
        creacion_tabla_categorias(conn, cur, df_principal)
        creacion_tabla_subcategorias(conn, cur, df_principal)

        # obtener los diccionarios para las relaciones
        marcas_dict = obtener_dict(conn, cur, "marcas", "nombre_marca", "id_marca")
        categorias_dict = obtener_dict(conn, cur, "categorias", "nombre_categoria", "id_categoria")
        subcategorias_dict = obtener_dict(conn, cur, "subcategorias", "nombre_subcategoria", "id_subcategoria")

        creacion_tabla_productos(conn, cur, df_principal, marcas_dict, categorias_dict, subcategorias_dict)

        productos_dict = obtener_dict(conn, cur, "productos", "nombre", "id_producto")
        creacion_tabla_historico(conn, cur, df_principal, productos_dict)

        creacion_tabla_efectos_sombra(conn, cur, df_principal)
        efectos_sombra_dict = obtener_dict(conn, cur, "efectos_sombra", "nombre_efecto", "id_efecto_sombra")
        creacion_tabla_producto_efecto_sombra(conn, cur, df_principal, productos_dict, efectos_sombra_dict)

        creacion_tabla_texturas(conn, cur, df_principal)
        texturas_dict = obtener_dict(conn, cur, "texturas", "nombre_textura", "id_textura")
        creacion_tabla_producto_textura(conn, cur, df_principal, productos_dict, texturas_dict)

    except Exception as e:
        if conn:
            conn.close()
        if cur:
            cur.close()
        raise Exception(f"Error en el proceso de carga de datos: {e}")
    else:
        cur.close()
        conn.close()

In [ ]:
def insertar_producto_y_historico(conn, cur, df_productos):
    # Iterar sobre cada producto en el DataFrame
    for index, row in df_productos.iterrows():
        nombre_producto = row['nombre']
        descripcion = row['descripcion']
        marca = row['marca']
        categoria = row['categoria']
        subcategoria = row['subcategoria']
        precio = row['precio']
        valoraciones = row['numero_valoraciones']
        variaciones = row['num_variaciones']
        valoracion_media = row['valoracion']
        fecha_extraccion = row['fecha_extraccion']
        
        # Filtros
        formato = row['formato']
        responsabilidad = row['responsabilidad']
        efecto_sombra = row['efecto_sombra']
        efecto_labios = row['efecto_labios']
        efecto_mascara = row['efecto_mascara']
        tipo_piel = row['tipo_piel']
        cobertura = row['cobertura']
        acabado = row['acabado']
        textura = row['textura']
        
        # Comprobar si el producto ya existe en la base de datos
        cur.execute("SELECT id_producto FROM productos WHERE nombre = %s", (nombre_producto,))
        producto_existente = cur.fetchone()
        
        if producto_existente:
            # Caso 1: El producto ya existe, solo insertar en la tabla historico
            id_producto = producto_existente[0]
            cur.execute("""
                INSERT INTO historico (id_producto, fecha_extraccion, precio, numero_valoraciones, valoracion, numero_variaciones)
                VALUES (%s, %s, %s, %s, %s, %s)
            """, (id_producto, fecha_extraccion, precio, valoraciones, valoracion_media, variaciones))
            print(f"Histórico insertado para el producto existente: {nombre_producto}")
        
        else:
            # Caso 2: El producto no existe, insertamos todo (marca, categoría, subcategoría, producto, filtros, historico)
            # 1. Comprobar si la marca ya existe
            cur.execute("SELECT id_marca FROM marcas WHERE nombre_marca = %s", (marca,))
            marca_result = cur.fetchone()
            if marca_result:
                id_marca = marca_result[0]
            else:
                # Insertar nueva marca
                cur.execute("INSERT INTO marcas (nombre_marca) VALUES (%s) RETURNING id_marca", (marca,))
                id_marca = cur.fetchone()[0]
            
            # 2. Comprobar si la categoría ya existe
            cur.execute("SELECT id_categoria FROM categorias WHERE nombre_categoria = %s", (categoria,))
            categoria_result = cur.fetchone()
            if categoria_result:
                id_categoria = categoria_result[0]
            else:
                # Insertar nueva categoría
                cur.execute("INSERT INTO categorias (nombre_categoria) VALUES (%s) RETURNING id_categoria", (categoria,))
                id_categoria = cur.fetchone()[0]
            
            # 3. Comprobar si la subcategoría ya existe
            cur.execute("SELECT id_subcategoria FROM subcategorias WHERE nombre_subcategoria = %s", (subcategoria,))
            subcategoria_result = cur.fetchone()
            if subcategoria_result:
                id_subcategoria = subcategoria_result[0]
            else:
                # Insertar nueva subcategoría
                cur.execute("INSERT INTO subcategorias (nombre_subcategoria) VALUES (%s) RETURNING id_subcategoria", (subcategoria,))
                id_subcategoria = cur.fetchone()[0]
            
            # 4. Insertar el nuevo producto
            cur.execute("""
                INSERT INTO productos (nombre, descripcion, id_marca, id_categoria, id_subcategoria)
                VALUES (%s, %s, %s, %s, %s) RETURNING id_producto
            """, (nombre_producto, descripcion, id_marca, id_categoria, id_subcategoria))
            id_producto = cur.fetchone()[0]
            
            # 5. Insertar el registro en la tabla historico
            cur.execute("""
                INSERT INTO historico (id_producto, fecha_extraccion, precio, numero_valoraciones, valoracion, numero_variaciones)
                VALUES (%s, %s, %s, %s, %s, %s)
            """, (id_producto, fecha_extraccion, precio, valoraciones, valoracion_media, variaciones))
            
            # 6. Insertar los filtros en las tablas correspondientes
            if pd.notna(formato):
                cur.execute("SELECT id_formato FROM formatos WHERE nombre_formato = %s", (formato,))
                formato_result = cur.fetchone()
                if not formato_result:
                    cur.execute("INSERT INTO formatos (nombre_formato) VALUES (%s) RETURNING id_formato", (formato,))
                    id_formato = cur.fetchone()[0]
                else:
                    id_formato = formato_result[0]
                cur.execute("INSERT INTO producto_formato (id_producto, id_formato) VALUES (%s, %s)", (id_producto, id_formato))
            
            if pd.notna(responsabilidad):
                cur.execute("SELECT id_responsabilidad FROM responsabilidades WHERE nombre_responsabilidad = %s", (responsabilidad,))
                responsabilidad_result = cur.fetchone()
                if not responsabilidad_result:
                    cur.execute("INSERT INTO responsabilidades (nombre_responsabilidad) VALUES (%s) RETURNING id_responsabilidad", (responsabilidad,))
                    id_responsabilidad = cur.fetchone()[0]
                else:
                    id_responsabilidad = responsabilidad_result[0]
                cur.execute("INSERT INTO producto_responsabilidad (id_producto, id_responsabilidad) VALUES (%s, %s)", (id_producto, id_responsabilidad))
            
            if pd.notna(efecto_sombra):
                cur.execute("SELECT id_efecto_sombra FROM efectos_sombra WHERE nombre_efecto = %s", (efecto_sombra,))
                efecto_sombra_result = cur.fetchone()
                if not efecto_sombra_result:
                    cur.execute("INSERT INTO efectos_sombra (nombre_efecto) VALUES (%s) RETURNING id_efecto_sombra", (efecto_sombra,))
                    id_efecto_sombra = cur.fetchone()[0]
                else:
                    id_efecto_sombra = efecto_sombra_result[0]
                cur.execute("INSERT INTO producto_efecto_sombra (id_producto, id_efecto_sombra) VALUES (%s, %s)", (id_producto, id_efecto_sombra))
            
            # Repetir el proceso similar para los otros filtros (efecto_labios, efecto_mascara, tipo_piel, cobertura, acabado, textura)
            # Similar a lo que hemos hecho para los otros filtros.
            
            # 7. Confirmar la transacción
            conn.commit()
            print(f"Producto {nombre_producto} insertado y actualizado en historico.")

In [ ]:
df_segundo = pd.read_csv('productos_maquillaje.csv')
pd.set_option('display.max_columns', None)
df_segundo

In [ ]:
for index, row in df_segundo.iterrows():
        nombre = row['nombre']
        descripcion = row['descripcion']
        marca = row['marca']
        categoria = row['categoria']
        subcategoria = row['subcategoria']
        precio = row['precio']
        numero_valoraciones = row['numero_valoraciones']
        num_variaciones = row['num_variaciones']
        valoracion = row['valoracion']
        fecha_extraccion = row['fecha_extraccion']
        formato = row['formato']
        responsabilidad = row['responsabilidad']
        efecto_sombra = row['efecto_sombra']
        efecto_labios = row['efecto_labios']
        efecto_mascara = row['efecto_mascara']
        tipo_piel = row['tipo_piel']
        cobertura = row['cobertura']
        acabado = row['acabado']
        textura = row['textura']
        
        # Comprobar si el producto ya existe en la base de datos
        cur.execute("SELECT id_producto FROM productos WHERE nombre = %s", (nombre,))
        producto_existente = cur.fetchone()
        
        if producto_existente:
            # Caso 1: El producto ya existe, solo insertar en la tabla historico
            id_producto = producto_existente[0]
            cur.execute("""
                INSERT INTO historico (id_producto, fecha_extraccion, precio, numero_valoraciones, valoracion, numero_variaciones)
                VALUES (%s, %s, %s, %s, %s, %s)
            """, (id_producto, fecha_extraccion, precio, numero_valoraciones, valoracion, num_variaciones))
            print(f"Histórico insertado para el producto existente: {nombre}")
        
        else:
            # Caso 2: El producto no existe, insertamos todo (marca, categoría, subcategoría, producto, filtros, historico)
            # 1. Comprobar si la marca ya existe
            cur.execute("SELECT id_marca FROM marcas WHERE nombre_marca = %s", (marca,))
            marca_result = cur.fetchone()
            if marca_result:
                id_marca = marca_result[0]
            else:
                # Insertar nueva marca
                cur.execute("INSERT INTO marcas (nombre_marca) VALUES (%s) RETURNING id_marca", (marca,))
                id_marca = cur.fetchone()[0]
            
            # 2. Comprobar si la categoría ya existe
            cur.execute("SELECT id_categoria FROM categorias WHERE nombre_categoria = %s", (categoria,))
            categoria_result = cur.fetchone()
            if categoria_result:
                id_categoria = categoria_result[0]
            else:
                # Insertar nueva categoría
                cur.execute("INSERT INTO categorias (nombre_categoria) VALUES (%s) RETURNING id_categoria", (categoria,))
                id_categoria = cur.fetchone()[0]
            
            # 3. Comprobar si la subcategoría ya existe
            cur.execute("SELECT id_subcategoria FROM subcategorias WHERE nombre_subcategoria = %s", (subcategoria,))
            subcategoria_result = cur.fetchone()
            if subcategoria_result:
                id_subcategoria = subcategoria_result[0]
            else:
                # Insertar nueva subcategoría
                cur.execute("INSERT INTO subcategorias (nombre_subcategoria) VALUES (%s) RETURNING id_subcategoria", (subcategoria,))
                id_subcategoria = cur.fetchone()[0]
            
            # 4. Insertar el nuevo producto
            cur.execute("""
                INSERT INTO productos (nombre, descripcion, id_marca, id_categoria, id_subcategoria)
                VALUES (%s, %s, %s, %s, %s) RETURNING id_producto
            """, (nombre, descripcion, id_marca, id_categoria, id_subcategoria))
            id_producto = cur.fetchone()[0]
            
            # 5. Insertar el registro en la tabla historico
            cur.execute("""
                INSERT INTO historico (id_producto, fecha_extraccion, precio, numero_valoraciones, valoracion, numero_variaciones)
                VALUES (%s, %s, %s, %s, %s, %s)
            """, (id_producto, fecha_extraccion, precio, numero_valoraciones, valoracion, num_variaciones))
            
            # 6. Insertar los filtros en las tablas correspondientes            
            if pd.notna(efecto_sombra):
                cur.execute("SELECT id_efecto_sombra FROM efectos_sombra WHERE nombre_efecto = %s", (efecto_sombra,))
                efecto_sombra_result = cur.fetchone()
                if not efecto_sombra_result:
                    cur.execute("INSERT INTO efectos_sombra (nombre_efecto) VALUES (%s) RETURNING id_efecto_sombra", (efecto_sombra,))
                    id_efecto_sombra = cur.fetchone()[0]
                else:
                    id_efecto_sombra = efecto_sombra_result[0]
                cur.execute("INSERT INTO producto_efecto_sombra (id_producto, id_efecto_sombra) VALUES (%s, %s)", (id_producto, id_efecto_sombra))

            if pd.notna(textura):
                cur.execute("SELECT id_textura FROM texturas WHERE nombre_textura = %s", (textura,))
                textura_result = cur.fetchone()
                if not textura_result:
                    cur.execute("INSERT INTO texturas (nombre_textura) VALUES (%s) RETURNING id_textura", (textura,))
                    id_textura = cur.fetchone()[0]
                else:
                    id_textura = textura_result[0]
                cur.execute("INSERT INTO producto_textura (id_producto, id_textura) VALUES (%s, %s)", (id_producto, id_textura))      

            # Similar a lo que hemos hecho para los otros filtros.
            
            # 7. Confirmar la transacción
            conn.commit()
            print(f"Producto {nombre} insertado y actualizado en historico.")